.figure{
    margin: 0.8rem;
    margin-bottom: 1rem;
}

.figure-caption{
    color: #04AEE7;
    font-size: 100%;
}

.class-container{
    width: 65%;
    margin: auto;
}

@media(max-width: 1199px){
    .figure-caption{
        font-size: 90%;
    }
}

@media(max-width: 476px){
    .figure{
        margin: 0.2rem;
    }

    .class-container{
        width: 95%;
    }
}