/* Bootstrap figure adjustments */
.figure{
    margin: 0.8rem;
    margin-bottom: 1rem;
}

/* Container which holds all the classes for a specfic class group */
.class-container{
    width: 62%;
    margin: auto;
}

/* An overlay to go over each class portrait */
.class-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Adjustments to container and figures for mobile / tablet */
@media(max-width: 1199px){
    .class-container{
        width: 95%;
    }
}

@media(max-width: 476px){
    .figure{
        margin: 0.2rem;
    }
}