/* Flex container to vertically center elements */
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stylization for footer text */
.footer-text{
    text-align: center;
    padding: 0.5rem;
}