/* Styling for the header images on certain pages */

/* Image */
.header{
    width: 100%;
    height: 100%;
    object-position: 50% 75%;
    object-fit: cover;
    box-sizing: border-box;
}

/* Dark overlay over our image */
.overlay{
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    background-color: #2a2829;
    opacity: 0.2;
}

/* Box container for our header */
.header-box{
    height: 20rem;
}

/* Most outer container for margins */
.outer-box{
    margin-bottom: 4rem;
}
