/* Styling for the homepage of Grandis Library */

/* Dark overlay for images */
.content-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(145deg, rgba(0,0,0,1) 3%, rgba(107,107,107,0) 100%); 
    opacity: 0.8;
}

/* Transparent overlay for images */
.content-overlay-transparent{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0;
    left: 0;
}

/* Round the corners of swiper images */
.content-image{
    border-radius: 1rem;
}

/* Styling for the Swiper component, lowers the pagination dots */
.content-slide{
    margin: 1rem 0 3rem 0;
}

/* Styling for the title + black bar on swiper images */
.content-title{
    font-family: acumin-pro, sans-serif !important;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    display: inline;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    position: absolute;
    margin: 0 0 2rem 0;
    bottom: 0;
    left: 0;
}

/* Styling for text w/o black bar such as date */
.content-subtitle{
    font-family: acumin-pro, sans-serif !important;
    font-size: 1.1rem;
    text-shadow: 1px 1px black;
    color: white;
    display: inline;
    position: absolute;
    margin: 0.5rem;
    top: 0;
    left: 0;
}

/* Launch button stylization */
.content-launch{
    background-size: 1.5rem 1.5rem !important;
    -webkit-filter: drop-shadow( 3px 3px 1px rgba(0, 0, 0, .8));
    filter: drop-shadow( 3px 3px 1px rgba(0, 0, 0, .8));
    height: 1.5rem;
    width: 1.5rem;
    display:block;
    position: absolute;
    margin: 1rem 1rem 0 0;
    top: 0;
    right: 0;
}