.page-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3.5rem;
}

.page-subtitle{
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
}

.page-caption{
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.08rem;
}