/* Stylization for all unique Content & Event pages */

h3{
    margin: 1rem 0 1rem 0;
}

h2{
    margin: 1rem 0 1rem 0;
}

li{
    margin: 0.5rem 0 0.5rem 0;
}

/* Quick jump button stylization */
.quick-jump{
    line-height: normal;
}

/* Container to hold each unique page */
.content-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Smaller container for elements that prefer a smaller width when screen is large*/
@media( min-width: 1200px){
    .repository-md-container{
        width: 75%;
    }

}

.repository-image{
    max-width: 70%;
    height: auto;
    margin: 1rem 0 1rem 0;
}

/* Adjustment to container for different sized screens */

/* 575+ px */
@media (max-width: 575px){
    .content-container{
        max-width: 28rem;
    }
}

/* 576+ px */
@media (min-width: 576px){
    .content-container{
        max-width: 30rem;
    }
}

/* 768+ px */
@media (min-width: 768px){
    .content-container{
        max-width: 40rem;
    }
}

/* 992+ px */
@media (min-width: 992px){
    .content-container{
        max-width: 50rem;
    }
}

/* 1200+ px */
@media (min-width: 1200px){
    
    .content-container{
        max-width: 70rem;
    }
}

/* 0 - 1200 px */
@media (max-width: 1200px){

    .content-container{
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }
}