/* Stylization for all unique Content & Event pages */

p{
    line-height: 1.8rem;
}

li{
    line-height: 1.8rem;
}

h3{
    margin: 1rem 0 1rem 0;
}

h2{
    margin: 1rem 0 1rem 0;
}

li{
    margin: 0.5rem 0 0.5rem 0;
}

/* Quick jump button stylization */
.quick-jump{
    line-height: normal;
}

/* Container to hold each unique page */
.content-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Adjustment to images for smaller screens */

@media (max-width: 768px){
    .repository-image{
        max-width: 70%;
        height: auto;
    }
}

/* Adjustment to container for different sized screens */

@media (max-width: 575px){
    .content-container{
        max-width: 28rem;
    }
}

@media (min-width: 576px){
    .content-container{
        max-width: 30rem;
    }
}

@media (min-width: 768px){
    .content-container{
        max-width: 40rem;
    }
}

@media (min-width: 992px){
    .content-container{
        max-width: 50rem;
    }
}

@media (min-width: 1200px){
    .content-container{
        max-width: 70rem;
    }
}