.explorers-block{
    background-color: #79ADDC;
  }
  
  .cygnus-block{
      background-color: #FFC09F;
  }
  
  .heroes-block{
    background-color: #FFEE93;
  }
  
  .resistance-block{
    background-color: #ADF7B6;
  }
  
  .nova-block{
    background-color: #93B7BE;
  }
  
  .sengoku-block{
    background-color: #B5D99C;
  }
  
  .flora-block{
    background-color: #E65F5C;
  }
  
  .friendstory-block{
    background-color: #B2F7EF;
  }
  
  .childofgod-block{
    background-color: #F7D6E0;
  }
  
  .anima-block{
    background-color: #2EC4B6;
  }
  
  .chase-block{
    background-color: #8B95C9;
  }
  
  .cash-shop-container{
    overflow-x: auto;
    margin: 3rem 0 3rem 0;
  }

  td{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
  }

  p{
    margin: 2rem 0 2rem 0;
  }
