/* CSS for the skill info component */

/* Main container/card */
.skill-body{
    max-width: 40rem;
}

/* White background is added for animations that have transparent backgrounds
    Also changes cursor to show animation can be clicked */
.animation{
    margin-bottom: 1rem;
    background-image: url(https://www.publicdomainpictures.net/pictures/30000/velka/plain-white-background.jpg);
    cursor: pointer;
}

.modal-animation{ 
    background-image: url(https://www.publicdomainpictures.net/pictures/30000/velka/plain-white-background.jpg);
    width: 100%;
    height: auto;
}

/* Skill icon */
.icon{
    margin-right: 0.25rem;
}

.skill-name{
    margin-left: 0.25rem;
    font-family: muli, sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

/* The elements beside the skill name */
.badge{
    margin-left: 0.25rem;
    font-family: acumin-pro, sans-serif !important;
}

.master-level{
    margin-bottom: 0.7rem;
    font-size: 0.95rem;
    font-weight: 300 !important;
}

/* The details below a description */
.skill-detail{
    margin-top: -0.5rem;
}

/* The description provided by API that has the numerical data */
.short-desc{
    font-weight: 300 !important;
}